@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: #f1f5f9;
    --color-text: #1e293b;
  }
  .dark {
    --color-bg: #0f172a;
    --color-text: #e2e8f0;
  }
}

body {
  @apply bg-[--color-bg] text-[--color-text] transition-colors duration-300;
}